@font-face {
  font-family: titleFont;
  src: url(fonts/VisbyRoundCF-DemiBold.otf);
}


body {
  background-color: #fef8df;
}

h1 {
  font-family: titleFont;
  padding-left: 10px;
  font-size: 25px;
}

header {
  font-family: titleFont;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0   2.5em;
  border-bottom: solid 1px #333;
  margin: 0 2.5% 1.5em;
  height: 5vh;
}

nav a:link {
  padding:0  .5em;
  color:#000;
  text-decoration: none;
}
nav a:hover {
  color:black;
  text-decoration: underline;
}
